<%= flash[:alert] if flash[:alert] %>
<%= flash[:notice] if flash[:notice] %>

<%= form_with url: create_post_path, method: :post do |form| %>
  <%= form.text_field :title %>
  <%= form.submit %>
<% end %>
<% @posts.each do |post| %>
  <p><%= post["title"] %></p>
  <em><%= post["views"] %></em>
  <%= button_to "Delete", destroy_post_path(post["id"]), method: :delete %>
<% end %>